:root {
    --font-primary: 'Just Another Hand', cursive;
    --primary-color: #0E9EEF;
    --secondary-color: #EE10B0;
    --dark-color: #1F1F1F;
    --darker-color: #181818;
    --accent-color: #53063E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Vazirmatn', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#wrapper {
    background-color: var(--darker-color);
}

aside {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    max-width: 270px;
    padding: 48px 64px 48px 64px;
    border-right: 2px solid #EE10B0;
    box-shadow: 8px 0px 24.2px 0px #EE10B026;
}

aside>ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

aside a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3px 3px 3px 0;
}

ion-icon {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 3px 8px 3px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

aside li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 174px;
}

aside li:active {
    background-color: #EE10B0;
    font-weight: 500;
    font-size: 20px;
    border-radius: 9px;
    padding: 2px 8px;
    transition: all 0.3s;
}

.logout {
    color: #EE10B0;
}

.logout:active {
    color: #ffffff;
}

.add-playlist {
    color: #0E9EEF;
}

.add-playlist:active {
    color: #ffffff;
}

.logout>ion-icon {
    color: #EE10B0;
}

.add-playlist>ion-icon {
    color: #0E9EEF;
}

.logout:active>ion-icon {
    color: #ffffff;
}

.add-playlist:active>ion-icon {
    color: #ffffff;
}

aside span {
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    opacity: 0.6;
}

/* `````````````main`````````` */


.overlay{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    padding: 48px 64px 0 25px;
}

.main-wrapper {
    max-width: 1082px;
    min-height: 595px;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 101.37%),
        linear-gradient(-91deg, rgba(0, 0, 0, 0) 13.23%, rgba(0, 0, 0, 0.8) 64.01%),
        url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    padding: 16px 25px 16px 25px;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.nav-menu {
    max-width: 336px;
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.menu-link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.search {
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 6px 8px;
    max-width: 336px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.search>input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    color: #fff;
    outline: none;
}

.search>input::placeholder {
    color: #fff;
    opacity: 0.6;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
}

.search>ion-icon {
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}

.header-btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
}

.btn {
    background-color: transparent;
    border-radius: 4px;
    color: #EE10B0;
    border: 1px solid #EE10B0;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    padding-top: 3px;
}

.main-info {
    max-width: 352px;
    min-height: 314px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 114px;
}

.btn-signup,
.pink-btn {
    background-color: #EE10B0;
    color: #fff;
}

.heading-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}

.heading-text>span {
    color: var(--secondary-color);
}

.main-btns {
    display: flex;
    gap: 24px;
}

.main-info>p {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: justify;
    margin: 16px 0;
}

.blue-btn {
    color: var(--primary-color);
    border: 1px solid #0E9EEF;
    background-color: transparent;
}

.section-heading {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding: 10px;
}

.section-heading>span {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
#main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    padding: 48px 64px 0 25px;
}

#weeklyTop,#newRelise,#trending {
    padding: 0 19px 0 19px;

}

.song-items {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cards-songs,
.cards-songs2 {
    display: flex;
    gap: 24px;
    padding: 4px;
    align-items: center;
}

.card-song {
    display: flex;
    flex-direction: column;
    padding: 4px 15px;
    border-radius: 10px;
    min-height: 214px;
    justify-content: space-between;
    background-color: var(--dark-color);
}

.song-info>h3 {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.song-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.song-info>p {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    opacity: 0.8;
}


.view-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.view-all>a {
    color: #fff;
    font-weight: 500;
    margin-top: 4px;
}

.view-all>button {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    border: none;
}